<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ApolloDoener Hauptseite"/>
        <meta name="keywords" content="ApolloDoener, Apollo, Doener, Main, Site, Tigifan, Code, Gallerie" />

        <title>ApolloDoener Home</title>

        <%- include("partials/includes.ejs") %>
        <link rel='stylesheet' href='/stylesheets/index.css' />
    </head>
    <body>
        <%- include("partials/nav.ejs") %>

        <div>
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <%- include("partials/footer.ejs") %>
    </body>
</html>
