<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ApolloDoener Hauptseite"/>
        <meta name="keywords" content="ApolloDoener, Apollo, Doener, Main, Site, Tigifan, Code, Gallerie" />

        <title>ApolloDoener Home</title>

        <%- include("partials/includes.ejs") %>
        <link rel='stylesheet' href='/stylesheets/nav-top.css' />
        <link rel='stylesheet' href='/stylesheets/sudoku.css' />
    </head>
    <body>
        <%- include("partials/nav.ejs") %>
        <input type="text" maxlength="1" pattern="[1-9]" autocomplete="off" >
        <div id="sudoku">
            <table id="sudoku-table">
                <tbody>
                    <tr>
                        <td>
                            <table class="sudoku-field">
                                <tbody>
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>                  
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="sudoku-field">
                                <tbody>
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>                  
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="sudoku-field">
                                <tbody>
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>                  
                                    <tr>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                        <td><div>1</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                            <td>
                                <table class="sudoku-field">
                                    <tbody>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>                  
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="sudoku-field">
                                    <tbody>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>                  
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="sudoku-field">
                                    <tbody>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>                  
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="sudoku-field">
                                    <tbody>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>                  
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="sudoku-field">
                                    <tbody>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>                  
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="sudoku-field">
                                    <tbody>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>                  
                                        <tr>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                            <td><div>1</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>

        <%- include("partials/footer.ejs") %>
    </body>
</html>
