footer {
    background-color: #363B3E;
    padding: 0.3% 0;
}

#footer-list {
    list-style-type: none !important;
    text-align: center;
    margin: 1%;
}

#footer-list li {
    display: inline;
    padding: 0 8%;
}

footer a {
    text-align: center;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;

    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

footer a:hover {
    color: #cdcdcd;
    text-decoration: none;

    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}