.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-1-10,
.pure-u-3-10,
.pure-u-7-10,
.pure-u-9-10,
.pure-u-1-20,
.pure-u-3-20,
.pure-u-7-20,
.pure-u-9-20,
.pure-u-11-20,
.pure-u-13-20,
.pure-u-17-20,
.pure-u-19-20,
.pure-u-1-25,
.pure-u-2-25,
.pure-u-3-25,
.pure-u-4-25,
.pure-u-6-25,
.pure-u-7-25,
.pure-u-8-25,
.pure-u-9-25,
.pure-u-11-25,
.pure-u-12-25,
.pure-u-13-25,
.pure-u-14-25,
.pure-u-16-25,
.pure-u-17-25,
.pure-u-18-25,
.pure-u-19-25,
.pure-u-21-25,
.pure-u-22-25,
.pure-u-23-25,
.pure-u-24-25,
.pure-u-1-50,
.pure-u-3-50,
.pure-u-7-50,
.pure-u-9-50,
.pure-u-11-50,
.pure-u-13-50,
.pure-u-17-50,
.pure-u-19-50,
.pure-u-21-50,
.pure-u-23-50,
.pure-u-27-50,
.pure-u-29-50,
.pure-u-31-50,
.pure-u-33-50,
.pure-u-37-50,
.pure-u-39-50,
.pure-u-41-50,
.pure-u-43-50,
.pure-u-47-50,
.pure-u-49-50,
.pure-u-1-100,
.pure-u-2-100,
.pure-u-3-100,
.pure-u-4-100,
.pure-u-5-100,
.pure-u-6-100,
.pure-u-7-100,
.pure-u-8-100,
.pure-u-9-100,
.pure-u-10-100,
.pure-u-11-100,
.pure-u-12-100,
.pure-u-13-100,
.pure-u-14-100,
.pure-u-15-100,
.pure-u-16-100,
.pure-u-17-100,
.pure-u-18-100,
.pure-u-19-100,
.pure-u-20-100,
.pure-u-21-100,
.pure-u-22-100,
.pure-u-23-100,
.pure-u-24-100,
.pure-u-25-100,
.pure-u-26-100,
.pure-u-27-100,
.pure-u-28-100,
.pure-u-29-100,
.pure-u-30-100,
.pure-u-31-100,
.pure-u-32-100,
.pure-u-33-100,
.pure-u-34-100,
.pure-u-35-100,
.pure-u-36-100,
.pure-u-37-100,
.pure-u-38-100,
.pure-u-39-100,
.pure-u-40-100,
.pure-u-41-100,
.pure-u-42-100,
.pure-u-43-100,
.pure-u-44-100,
.pure-u-45-100,
.pure-u-46-100,
.pure-u-47-100,
.pure-u-48-100,
.pure-u-49-100,
.pure-u-50-100,
.pure-u-51-100,
.pure-u-52-100,
.pure-u-53-100,
.pure-u-54-100,
.pure-u-55-100,
.pure-u-56-100,
.pure-u-57-100,
.pure-u-58-100,
.pure-u-59-100,
.pure-u-60-100,
.pure-u-61-100,
.pure-u-62-100,
.pure-u-63-100,
.pure-u-64-100,
.pure-u-65-100,
.pure-u-66-100,
.pure-u-67-100,
.pure-u-68-100,
.pure-u-69-100,
.pure-u-70-100,
.pure-u-71-100,
.pure-u-72-100,
.pure-u-73-100,
.pure-u-74-100,
.pure-u-75-100,
.pure-u-76-100,
.pure-u-77-100,
.pure-u-78-100,
.pure-u-79-100,
.pure-u-80-100,
.pure-u-81-100,
.pure-u-82-100,
.pure-u-83-100,
.pure-u-84-100,
.pure-u-85-100,
.pure-u-86-100,
.pure-u-87-100,
.pure-u-88-100,
.pure-u-89-100,
.pure-u-90-100,
.pure-u-91-100,
.pure-u-92-100,
.pure-u-93-100,
.pure-u-94-100,
.pure-u-95-100,
.pure-u-96-100,
.pure-u-97-100,
.pure-u-98-100,
.pure-u-99-100,
.pure-u-100-100 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-100 {
    width: 1%;
    *width: 0.9690%;
}

.pure-u-1-50,
.pure-u-2-100 {
    width: 2%;
    *width: 1.9690%;
}

.pure-u-3-100 {
    width: 3%;
    *width: 2.9690%;
}

.pure-u-1-25,
.pure-u-4-100 {
    width: 4%;
    *width: 3.9690%;
}

.pure-u-1-20,
.pure-u-5-100 {
    width: 5%;
    *width: 4.9690%;
}

.pure-u-3-50,
.pure-u-6-100 {
    width: 6%;
    *width: 5.9690%;
}

.pure-u-7-100 {
    width: 7.0000%;
    *width: 6.9690%;
}

.pure-u-2-25,
.pure-u-8-100 {
    width: 8%;
    *width: 7.9690%;
}

.pure-u-9-100 {
    width: 9%;
    *width: 8.9690%;
}

.pure-u-1-10,
.pure-u-10-100 {
    width: 10%;
    *width: 9.9690%;
}

.pure-u-11-100 {
    width: 11%;
    *width: 10.9690%;
}

.pure-u-3-25,
.pure-u-12-100 {
    width: 12%;
    *width: 11.9690%;
}

.pure-u-13-100 {
    width: 13%;
    *width: 12.9690%;
}

.pure-u-7-50,
.pure-u-14-100 {
    width: 14.0000%;
    *width: 13.9690%;
}

.pure-u-3-20,
.pure-u-15-100 {
    width: 15%;
    *width: 14.9690%;
}

.pure-u-4-25,
.pure-u-16-100 {
    width: 16%;
    *width: 15.9690%;
}

.pure-u-17-100 {
    width: 17%;
    *width: 16.9690%;
}

.pure-u-9-50,
.pure-u-18-100 {
    width: 18%;
    *width: 17.9690%;
}

.pure-u-19-100 {
    width: 19%;
    *width: 18.9690%;
}

.pure-u-1-5,
.pure-u-20-100 {
    width: 20%;
    *width: 19.9690%;
}

.pure-u-21-100 {
    width: 21%;
    *width: 20.9690%;
}

.pure-u-11-50,
.pure-u-22-100 {
    width: 22%;
    *width: 21.9690%;
}

.pure-u-23-100 {
    width: 23%;
    *width: 22.9690%;
}

.pure-u-6-25,
.pure-u-24-100 {
    width: 24%;
    *width: 23.9690%;
}

.pure-u-1-4,
.pure-u-25-100 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-13-50,
.pure-u-26-100 {
    width: 26%;
    *width: 25.9690%;
}

.pure-u-27-100 {
    width: 27%;
    *width: 26.9690%;
}

.pure-u-7-25,
.pure-u-28-100 {
    width: 28.0000%;
    *width: 27.9690%;
}

.pure-u-29-100 {
    width: 29.0000%;
    *width: 28.9690%;
}

.pure-u-3-10,
.pure-u-30-100 {
    width: 30%;
    *width: 29.9690%;
}

.pure-u-31-100 {
    width: 31%;
    *width: 30.9690%;
}

.pure-u-8-25,
.pure-u-32-100 {
    width: 32%;
    *width: 31.9690%;
}

.pure-u-33-100 {
    width: 33%;
    *width: 32.9690%;
}

.pure-u-17-50,
.pure-u-34-100 {
    width: 34%;
    *width: 33.9690%;
}

.pure-u-7-20,
.pure-u-35-100 {
    width: 35%;
    *width: 34.9690%;
}

.pure-u-9-25,
.pure-u-36-100 {
    width: 36%;
    *width: 35.9690%;
}

.pure-u-37-100 {
    width: 37%;
    *width: 36.9690%;
}

.pure-u-19-50,
.pure-u-38-100 {
    width: 38%;
    *width: 37.9690%;
}

.pure-u-39-100 {
    width: 39%;
    *width: 38.9690%;
}

.pure-u-2-5,
.pure-u-40-100 {
    width: 40%;
    *width: 39.9690%;
}

.pure-u-41-100 {
    width: 41%;
    *width: 40.9690%;
}

.pure-u-21-50,
.pure-u-42-100 {
    width: 42%;
    *width: 41.9690%;
}

.pure-u-43-100 {
    width: 43%;
    *width: 42.9690%;
}

.pure-u-11-25,
.pure-u-44-100 {
    width: 44%;
    *width: 43.9690%;
}

.pure-u-9-20,
.pure-u-45-100 {
    width: 45%;
    *width: 44.9690%;
}

.pure-u-23-50,
.pure-u-46-100 {
    width: 46%;
    *width: 45.9690%;
}

.pure-u-47-100 {
    width: 47%;
    *width: 46.9690%;
}

.pure-u-12-25,
.pure-u-48-100 {
    width: 48%;
    *width: 47.9690%;
}

.pure-u-49-100 {
    width: 49%;
    *width: 48.9690%;
}

.pure-u-1-2,
.pure-u-50-100 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-51-100 {
    width: 51%;
    *width: 50.9690%;
}

.pure-u-13-25,
.pure-u-52-100 {
    width: 52%;
    *width: 51.9690%;
}

.pure-u-53-100 {
    width: 53%;
    *width: 52.9690%;
}

.pure-u-27-50,
.pure-u-54-100 {
    width: 54%;
    *width: 53.9690%;
}

.pure-u-11-20,
.pure-u-55-100 {
    width: 55.0000%;
    *width: 54.9690%;
}

.pure-u-14-25,
.pure-u-56-100 {
    width: 56.0000%;
    *width: 55.9690%;
}

.pure-u-57-100 {
    width: 57.0000%;
    *width: 56.9690%;
}

.pure-u-29-50,
.pure-u-58-100 {
    width: 58.0000%;
    *width: 57.9690%;
}

.pure-u-59-100 {
    width: 59%;
    *width: 58.9690%;
}

.pure-u-3-5,
.pure-u-60-100 {
    width: 60%;
    *width: 59.9690%;
}

.pure-u-61-100 {
    width: 61%;
    *width: 60.9690%;
}

.pure-u-31-50,
.pure-u-62-100 {
    width: 62%;
    *width: 61.9690%;
}

.pure-u-63-100 {
    width: 63%;
    *width: 62.9690%;
}

.pure-u-16-25,
.pure-u-64-100 {
    width: 64%;
    *width: 63.9690%;
}

.pure-u-13-20,
.pure-u-65-100 {
    width: 65%;
    *width: 64.9690%;
}

.pure-u-33-50,
.pure-u-66-100 {
    width: 66%;
    *width: 65.9690%;
}

.pure-u-67-100 {
    width: 67%;
    *width: 66.9690%;
}

.pure-u-17-25,
.pure-u-68-100 {
    width: 68%;
    *width: 67.9690%;
}

.pure-u-69-100 {
    width: 69%;
    *width: 68.9690%;
}

.pure-u-7-10,
.pure-u-70-100 {
    width: 70%;
    *width: 69.9690%;
}

.pure-u-71-100 {
    width: 71%;
    *width: 70.9690%;
}

.pure-u-18-25,
.pure-u-72-100 {
    width: 72%;
    *width: 71.9690%;
}

.pure-u-73-100 {
    width: 73%;
    *width: 72.9690%;
}

.pure-u-37-50,
.pure-u-74-100 {
    width: 74%;
    *width: 73.9690%;
}

.pure-u-3-4,
.pure-u-75-100 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-19-25,
.pure-u-76-100 {
    width: 76%;
    *width: 75.9690%;
}

.pure-u-77-100 {
    width: 77%;
    *width: 76.9690%;
}

.pure-u-39-50,
.pure-u-78-100 {
    width: 78%;
    *width: 77.9690%;
}

.pure-u-79-100 {
    width: 79%;
    *width: 78.9690%;
}

.pure-u-4-5,
.pure-u-80-100 {
    width: 80%;
    *width: 79.9690%;
}

.pure-u-81-100 {
    width: 81%;
    *width: 80.9690%;
}

.pure-u-41-50,
.pure-u-82-100 {
    width: 82%;
    *width: 81.9690%;
}

.pure-u-83-100 {
    width: 83%;
    *width: 82.9690%;
}

.pure-u-21-25,
.pure-u-84-100 {
    width: 84%;
    *width: 83.9690%;
}

.pure-u-17-20,
.pure-u-85-100 {
    width: 85%;
    *width: 84.9690%;
}

.pure-u-43-50,
.pure-u-86-100 {
    width: 86%;
    *width: 85.9690%;
}

.pure-u-87-100 {
    width: 87%;
    *width: 86.9690%;
}

.pure-u-22-25,
.pure-u-88-100 {
    width: 88%;
    *width: 87.9690%;
}

.pure-u-89-100 {
    width: 89%;
    *width: 88.9690%;
}

.pure-u-9-10,
.pure-u-90-100 {
    width: 90%;
    *width: 89.9690%;
}

.pure-u-91-100 {
    width: 91%;
    *width: 90.9690%;
}

.pure-u-23-25,
.pure-u-92-100 {
    width: 92%;
    *width: 91.9690%;
}

.pure-u-93-100 {
    width: 93%;
    *width: 92.9690%;
}

.pure-u-47-50,
.pure-u-94-100 {
    width: 94%;
    *width: 93.9690%;
}

.pure-u-19-20,
.pure-u-95-100 {
    width: 95%;
    *width: 94.9690%;
}

.pure-u-24-25,
.pure-u-96-100 {
    width: 96%;
    *width: 95.9690%;
}

.pure-u-97-100 {
    width: 97%;
    *width: 96.9690%;
}

.pure-u-49-50,
.pure-u-98-100 {
    width: 98%;
    *width: 97.9690%;
}

.pure-u-99-100 {
    width: 99%;
    *width: 98.9690%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-100-100 {
    width: 100%;
}