#sudoku {
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 25vh;
    height: 10vh;
    margin-bottom: 55vh; 
}

#sudoku-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;    
}

#sudoku-table table, #sudoku-table th, #sudoku-table td {
    border: 1px solid black;
}

#sudoku-table td {
    width: 10%;
}

.sudoku-field table, .sudoku-field th, .sudoku-field td {
    border: 1px solid rgb(100, 96, 96);
}

.sudoku-field input {
    width: 10px;
}

#calculate {
    margin-top: 3vh;
    text-align: center;
}

#calculate a {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);    
    background: rgb(28, 184, 65); /* this is a green */
}